@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Paprika&family=Poppins:wght@300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: "paprika", "indie flower", sans-serif;
    text-decoration: none;
    list-style-type: none;
}

body{
    background: #02050e;
}

header{
    background: #272d37;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px;
    background: #ac5d03;
    border: 1px solid var(--border-grey);
    /*width: 100%;*/
    height: 70px;
    transition: background 3s ease-in-out;
}

.logo{
    height: 250%;
    cursor: pointer;
}

.navbar,
.navbar-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar{
    gap: 150px;
}

.navbar-list{
    gap: 30px;
}

.navbar-list a{
    color: #adb9c7;
    font-size: 18px;
}

.navbar-list li:first-child > a{
    color:aqua;
    font-weight: 900;
}

.cart-icon{
    width: 35px;
    cursor: pointer;
    font-weight: 900;
}

main{
    background:#121418;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%x;
    height: 100%;
}

#hero{
    margin-top: 70px;
    padding: 70px 0;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.hero-info h1{
    font-size: 48px;
    width: 80%;
    min-width: 500px;
    font-weight: 800px;
    background: linear-gradient(to right, #F09819, #FF512F);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.hero-info p{
    font-size: 14px;
    width: 70%;
}

.hero-buttons{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.hero-info a{
    color: #adb9c7;
    background: #ad4204;
    width: 120px;
    padding: 8px 0;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
}


.hero-img{
    width: 30%;
   border-radius: 15px;
}


#about{
    display: flex;
    flex-direction: column;
}

#about h2{
    font-size: 30px;
    color: #FF512F;
    text-align: center;
}

#about p{
    font-size: 14px;
    width: 70%;
    padding: 50px 0 70px 120px;
    text-align: center;
}